.app__header {
  display: flex;
  height: 40px;
  background-color: rgb(102, 184, 157);
}

button {
  padding: 6px 10px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 800px;
  align-items: center;
  margin: auto;
}

.header > button {
  font-size: 15px;
  font-weight: bold;
}

.__active {
  background-color: rgb(130, 130, 192);
  color: white;
}
